#!/bin/bash

# export AWS_CREDENTIALS_FILE="aws_credentials.yml"
export BUCKET_NAME="{{ bucket_name }}"
export AWS_ACCESS_KEY_ID={{ access_key_id }}
export AWS_SECRET_ACCESS_KEY={{ secret_access_key }}