#!/bin/bash
DIR_PATH="$(pwd)"
export DIR_PATH

export EDITOR=true

export AWS_PROFILE=localstack
export AWS_CONFIG_FILE="${DIR_PATH}/aws_config.yml"
export AWS_SHARED_CREDENTIALS_FILE="${DIR_PATH}/aws_credentials.yml"
export AWS_IAM_ENDPOINT="http://localhost:4566"
export AWS_STS_ENDPOINT="http://localhost:4566"
export AWS_DYNAMODB_ENDPOINT="http://localhost:4566"

export TF_CLI_ARGS_apply="-input=false -auto-approve"
